* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #f2f2f2;
}
.logo a {
  text-decoration: none;
  color: #212530;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 25px;
}
.abcd {
  background-color: yellow;
  border: 2px solid red;
}
.nav-icons {
  text-align: end;
}
.nav-icons i {
  padding: 5px;
}
li {
  list-style: none;
}
h1 {
  font-size: 35px;
  font-weight: 500;
}
.text-para {
  padding-top: 10px;
  color: #8d8b8b;
  font-size: 15px;
  line-height: 20px;
}
.date {
  margin: 10px 0px;
  color: #bababa;
  font-size: 12px;
}
.small-img {
  display: flex;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 5px;
}
.round-img {
  border-radius: 50%;
}
.name {
  padding: 7px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main {
  margin-top: 15px;
}
.main-para {
  padding-top: 0px;
  padding-bottom: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #484848;
}
.numbers {
  font-size: 50px;
  position: absolute;
  left: -3px;
  top: 0px;
  opacity: 10%;
  font-weight: bold;
}
table,
th,
td {
  border: 2px solid #e9e9e9;
  border-collapse: collapse;
  padding: 20px 15px;
  position: relative;
}
th {
  padding: 25px;
  font-size: 20px;
  text-align: start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.table-para {
  color: #484848;
}
table small {
  color: #bababa;
}
.main-footer {
  background-color: #2b2a2a;
  color: white;
}
.post {
  display: flex;
  padding: 5px;
}
.post-para {
  padding-left: 10px;
  padding-top: 0px;
  font-size: 15px;
  color: #b5b8ba;
}
.post-para small {
  font-size: 10px;
  color: #677067;
}
.post-para p {
  padding-top: 5px;
}
.main-footer {
  margin-top: 50px;
}
.main-footer > .container {
  padding-bottom: 50px;
}
.main-footer h4 {
  padding: 25px 0;
  color: #f1ffff;
}
.about-para {
  padding-bottom: 15px;
  color: #a09ea0;
}
.learn {
  text-decoration: underline;
  color: #a09ea0;
}
.links > div {
  width: 50%;
}
.links li {
  padding: 5px;
  color: #a09ea0;
}
footer {
  background-color: #000000;
}
footer > .container {
  padding-bottom: 0;
}
.copyright p {
  font-size: 15px;
  color: #a4a5a0;
  padding: 7px 0;
}
.copyright span {
  font-size: 12px;
  color: #a4a5a0;
}
.copyright span b {
  color: #e2eae5;
}
.footer-icons i {
  background-color: #2b2a2a;
  border-radius: 50%;
  padding: 10px;
}
.arrow {
  text-align: right;
  padding-right: 15px;
  padding-bottom: 15px;
}
.arrow i {
  padding: 10px;
  background-color: #2b2a2a;
}
